
  @import url('https://fonts.googleapis.com/css?family=Spectral+SC');
body{
background-color: lightblue;
}

#title {
  text-align: center;
  font-family: 'Spectral SC', serif;
  font-size: 3em;
  color: black
}

#sub-title{
  text-align: center;
  font-family: 'Spectral SC', serif;
  font-size: 1em;
  color: black
}

#map {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 30em; auto
  width: 60em; auto;
  padding: 0.025em;
}

img{
align-items: center;
display: block; margin: 0 auto;
height: auto;
width: 30rem;
}

#con{
  text-align: center;
  font-family: 'Spectral SC', serif;
  font-size: 1em;
  color: black
}

@media only screen and (max-width: 450px) {
    img {
    display: flex
    height: auto;
    width: 100%;
    }
}
